body {
  font-family: Arvo, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 45px;
  font-family: Avenirnextltpro, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
}

.hero {
  padding: 75px 50px 440px;
  background-image: url('../images/Bee-eaters-Niarobi-National-Park-Mustansir-Adamjee-BG1.jpg');
  background-position: 50% 0%;
  background-size: cover;
}

.body {
  font-family: Arvo, sans-serif;
}

.container {
  line-height: 22px;
  text-align: center;
}

.cta-button {
  margin-top: 50px;
  margin-bottom: 25px;
  border-radius: 20px;
  background-color: #ec6e38;
  font-family: Avenirnextltpro, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.cta-button:hover {
  opacity: 0.75;
}

.video-section {
  padding-top: 75px;
  padding-bottom: 100px;
}

.container-2 {
  text-align: center;
}

.links {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 50px;
  padding-right: 50px;
}

.links.footer-links {
  position: static;
  margin-left: 25px;
  padding-top: 45px;
  float: left;
}

.section-about {
  padding: 75px 50px 175px;
}

.section-about.about {
  padding-top: 100px;
  padding-bottom: 250px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.2)), to(hsla(0, 0%, 100%, 0.2))), url('../images/bee-eater-BG.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0.2)), url('../images/bee-eater-BG.png');
  background-position: 0px 0px, 50% 80%;
  background-size: auto, cover;
}

.section-about.uk {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url('../images/House-Martins-BG.png');
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('../images/House-Martins-BG.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.section-about.kenya {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(41, 0%, 100%, 0.85)), to(hsla(41, 0%, 100%, 0.85))), url('../images/House-martins-kenya.png');
  background-image: linear-gradient(180deg, hsla(41, 0%, 100%, 0.85), hsla(41, 0%, 100%, 0.85)), url('../images/House-martins-kenya.png');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, auto;
}

.nav {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 50px;
  margin-left: 50px;
}

.nav.footer-nav {
  position: static;
  float: left;
  clear: left;
}

.nav-link {
  margin-right: 15px;
  color: #000;
  text-decoration: none;
}

.nav-link.email {
  margin-left: 25px;
}

.text-span {
  text-decoration: underline;
}

.link {
  font-family: Avenirnextltpro, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: underline;
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 30px;
  letter-spacing: 0px;
}

.team-member {
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
}

.team-image {
  width: 200px;
  height: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 100px;
}

.wrap {
  text-align: center;
}

.video {
  margin-top: 75px;
}

.footer {
  padding-bottom: 50px;
  border-top: 2px dashed #000;
}

@media screen and (max-width: 991px) {
  .hero {
    background-size: auto 1200px;
  }

  .container {
    margin-top: 50px;
  }

  .video-section {
    padding-top: 50px;
  }

  .section-about.about {
    padding-bottom: 259px;
  }

  .section-about.uk {
    padding-bottom: 75px;
  }

  .section-about.kenya {
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 767px) {
  .video-section {
    padding-top: 25px;
    padding-bottom: 0px;
  }

  .links.footer-links {
    width: 100%;
    margin-left: 0px;
    padding-top: 25px;
    padding-left: 50px;
  }

  .nav-link.email {
    display: block;
    margin-top: 25px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    padding-right: 35px;
    padding-left: 35px;
    background-position: 50% 0%;
    background-size: auto 1400px;
  }

  .links {
    padding-right: 35px;
  }

  .links.footer-links {
    margin-left: 0px;
    padding-left: 35px;
  }

  .section-about {
    padding-right: 35px;
    padding-left: 35px;
  }

  .section-about.about {
    background-position: 60% 100%;
    background-size: cover;
  }

  .nav {
    margin-left: 35px;
  }
}

@font-face {
  font-family: 'Avenirnextltpro it';
  src: url('../fonts/AvenirNextLTPro-It.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenirnextltpro';
  src: url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenirnextltpro';
  src: url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}