body {
  color: #333;
  font-family: Arvo, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 45px;
  font-family: Avenirnextltpro, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
}

.hero {
  background-image: url('../images/E92DA4FB-5C0A-4B8F-AB19-DE8C64D6CF1A-copy.png'), url('../images/BBB-Hero-bg-3.jpg');
  background-position: 50% 10%, 50% 100%;
  background-repeat: no-repeat, repeat;
  background-size: auto, cover;
  padding: 75px 50px 440px;
}

.body {
  font-family: Arvo, sans-serif;
}

.container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  line-height: 22px;
  display: flex;
}

.heading.hero-heading {
  margin-bottom: 0;
}

.cta-button {
  letter-spacing: 2px;
  background-color: #ec6e38;
  border-radius: 20px;
  margin-top: 45px;
  margin-bottom: 25px;
  font-family: Avenirnextltpro, sans-serif;
  font-weight: 700;
}

.cta-button:hover {
  opacity: .75;
}

.video-section {
  padding-top: 75px;
  padding-bottom: 100px;
}

.container-2 {
  text-align: center;
}

.links {
  padding-top: 50px;
  padding-right: 50px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.links.footer-links {
  float: left;
  margin-left: 25px;
  padding-top: 45px;
  position: static;
}

.section-about {
  padding: 75px 50px 175px;
}

.section-about.about {
  background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url('../images/bee-eater-BG.png');
  background-position: 0 0, 50% 80%;
  background-size: auto, cover;
  padding-top: 100px;
  padding-bottom: 250px;
}

.section-about.uk {
  background-image: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/House-Martins-BG.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.section-about.kenya {
  background-image: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/House-martins-kenya.png');
  background-position: 0 0, 50% 100%;
  background-size: auto, auto;
}

.section-about.gambia {
  background-image: linear-gradient(rgba(255, 255, 255, .79), rgba(255, 255, 255, .79)), url('../images/The-Gambia-Mangroves.jpeg');
  background-position: 0 0, 50% 100%;
  background-size: auto, cover;
}

.nav {
  margin-top: 50px;
  margin-left: 50px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.nav.footer-nav {
  float: left;
  clear: left;
  position: static;
}

.nav-link {
  color: #000;
  margin-right: 15px;
  text-decoration: none;
}

.nav-link.email {
  margin-left: 25px;
}

.text-span {
  text-decoration: underline;
}

.link {
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Avenirnextltpro, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.paragraph {
  letter-spacing: 0;
  margin-bottom: 30px;
}

.team-member {
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}

.team-image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.wrap {
  text-align: center;
}

.video {
  margin-top: 75px;
}

.footer {
  border-top: 2px dashed #000;
  padding-bottom: 50px;
}

.collab-text {
  font-family: Avenirnextltpro, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.social {
  margin-left: 10px;
}

.sub-title {
  margin-bottom: 35px;
}

.arocha {
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.partner {
  margin-left: 5px;
  margin-right: 5px;
}

.partners {
  margin-bottom: 40px;
}

@media screen and (max-width: 991px) {
  .hero {
    background-image: url('../images/E92DA4FB-5C0A-4B8F-AB19-DE8C64D6CF1A-copy.png'), url('../images/BBB-Hero-bg-3.jpg');
    background-position: 50% 10%, 50% 100%;
    background-size: auto, cover;
  }

  .container {
    margin-top: 50px;
  }

  .video-section {
    padding-top: 50px;
  }

  .section-about.about {
    padding-bottom: 259px;
  }

  .section-about.uk, .section-about.kenya {
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 767px) {
  .video-section {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .links.footer-links {
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
    padding-left: 50px;
  }

  .nav-link.email {
    margin-top: 25px;
    margin-left: 0;
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    background-image: url('../images/E92DA4FB-5C0A-4B8F-AB19-DE8C64D6CF1A-copy.png'), url('../images/BBB-Hero-bg-3.jpg');
    background-position: 50% 0, 50% 100%;
    background-size: auto, cover;
    padding-bottom: 422px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .links {
    padding-top: 45px;
    padding-right: 25px;
  }

  .links.footer-links {
    margin-left: 0;
    padding-left: 35px;
  }

  .section-about {
    padding-left: 35px;
    padding-right: 35px;
  }

  .section-about.about {
    background-position: 60% 100%;
    background-size: cover;
  }

  .section-about.gambia {
    background-image: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/The-Gambia-Mangroves.jpeg');
    background-position: 0 0, 50% 100%;
    background-size: auto, cover;
    padding-bottom: 75px;
  }

  .nav {
    margin-left: 25px;
  }

  .partners {
    margin-bottom: 0;
  }
}


@font-face {
  font-family: 'Avenirnextltpro it';
  src: url('../fonts/AvenirNextLTPro-It.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenirnextltpro';
  src: url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenirnextltpro';
  src: url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}